#gachaModal {
    --gacha-observation-background-image: url("assets/images/other/gacha-observation-bg-v1.png");
    --gacha-reference-banner-image: url("assets/images/other/gacha-reference-banner.png");
    --gacha-crystal-cluster-image: url("assets/images/other/gacha-crystal-cluster-v1.png");
}
